@import "@/assets/variable.scss";

@mixin default-shadow {
  box-shadow: 2px 3px 0 rgb(183, 183, 183);

  .dark & {
    box-shadow: 2px 3px 0 rgb(201, 198, 198);
  }
}

@mixin primary-background {
  background-color: $primary-color;

  .dark & {
    background-color: $primary-dark-color;
  }
}

@mixin primary-color {
  color: $primary-color;

  .dark & {
    color: $primary-dark-color;
  }
}

